tqdm>=4.31.1
torchvision>=0.2.2.post3
numpy>=1.16.3
matplotlib>=3.1.0
dominate>=2.3.5
torch>=1.1.0
setuptools>=39.0.1
visdom>=0.1.8.8
requests>=2.18.4
Pillow>=6.0.0
beautifulsoup4>=4.7.1
torch_geometric>=1.2.1
